<div class="hero">
    <h1 id="mainTitle">Common Core Unit <span class="boldwhite">Blueprints</span></h1>
</div>
<div class="home-hero">
    <div id="introCopy" class="container">
        <div class="col-sm-10 col-sm-centered">
            <div class="row">
                <div class="col-sm-6">
                    <p>The Common Core Standards for Mathematics establish new and more rigorous learning objectives, however the standards do not specify how they should be organized. With the generous support of the William and Flora Hewlett Foundation, Illustrative Mathematics and Mathalicious have organized the Common Core standards into instructional units so that educators at the state, district, or school level don’t have to.</p>
                </div>
                <div class="col-sm-6">
                    <p>While these Unit Blueprints organize the standards, they are not intended to serve as a comprehensive curriculum. Instead, they offer expert guidance for how to organize the standards, and act as a framework that can help educators successfully transition to the Common Core.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-wrap clearfix <%= "ended" if Rails.application.config.ended %>">
    <% if Rails.application.config.ended %>
        <div class="container">
            <div id="itsOver" class="col-sm-7 col-sm-centered">
                <p>Thanks for checking out our pre-launch site! We're tallying up invitations so that we can send out rewards. If you are eligible for one of our rewards, you'll be hearing from us soon!</p>
                <p>In the meantime, please feel free to check out the live <a href="#">Blueprints</a> site.</p>
                <p>Thanks again!</p>
            </div>
        </div>
    <% else %>
        <div class="key"></div>
        <p class="byline">Teacher? Administrator? Curriculum Developer? Be the first to know when the Blueprints are live! </p>
        <%= form_for @user, :url => { :action => "create" } do |f| %>
            <%= f.text_field :email, :placeholder => "Enter Email", :class => "email form-control" %>
            <input class="submit" name="commit" type="submit" value="Invite Me!" />
        <% end %>
    <% end %>
</div>